*{
  z-index: auto;
}

.App {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

/* NOT COMPATIBLE WITH REACT NATIVE */
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* NOT COMPATIBLE WITH REACT NATIVE */
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* NOT COMPATIBLE WITH REACT NATIVE */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1139bb;
}
/* NOT COMPATIBLE WITH REACT NATIVE */
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
